<div class="jw-manage-items-inactive">
	<jw-items-table class="jw-manage-items-active-table" [itemsData]="itemsData" [displayedColumns]="displayedColumns"
		(itemsDataUpdate)="itemsDataUpdate($event)" [isEditAction]="true" [isDeleteAction]="true"></jw-items-table>
</div>