@import '../../../../../assets/styles/jw-base-variables.less';

.jw-items-grid {
	display: flex;
	flex-direction: column;

	&-row {
		display: flex;
		flex-direction: row;
		margin-bottom: @jw-margin-small;

		&-item:not(:last-child) {
			margin-right: @jw-margin-small;
		}
	}
}