<div class="jw-items-grid">
	<div *ngFor="let itemRow of itemsGrid" class="jw-items-grid-row">
		<jw-item-simple-col class="jw-items-grid-row-item" *ngFor="let item of itemRow"
			[ngStyle]="{'width':  100/gridSize + '%'}" [item]="item"></jw-item-simple-col>
	</div>
</div>