@import '../../../assets/styles/jw-base-variables.less';

.jw-regulations {
	&-container {
		margin-top: @jw-margin-small;
		background: @jw-light-transparent-extra-little;
		border-radius: @jw-border-radius-large;
		padding: @jw-padding;
		animation: fadeIn 1s;
	}
}