<div class="jw-users-table">
	<div class="jw-users-table-header">
		<jw-search (searchTextChanged)="onSearchTextChanged($event)" class="jw-users-table-header-search"></jw-search>
	</div>
	<mat-table [dataSource]="usersTableDataSource" matSort matSortDisableClear (matSortChange)="onSortChange($event)"
		class="jw-users-table-container">
		<ng-container matColumnDef="login">
			<mat-header-cell *matHeaderCellDef mat-sort-header class="jw-users-table-container-header-cell-login">
				{{'USER.LOGIN' | translate}}</mat-header-cell>
			<mat-cell *matCellDef="let user" class="jw-users-table-container-cell-login">{{user.login}}</mat-cell>
		</ng-container>
		<ng-container matColumnDef="email">
			<mat-header-cell *matHeaderCellDef mat-sort-header class="jw-users-table-container-header-cell-email">
				{{'USER.EMAIL' | translate}}</mat-header-cell>
			<mat-cell *matCellDef="let user" class="jw-users-table-container-cell-email">{{user.email}}</mat-cell>
		</ng-container>
		<ng-container matColumnDef="role">
			<mat-header-cell *matHeaderCellDef mat-sort-header>{{'USER.ROLE' | translate}}</mat-header-cell>
			<mat-cell *matCellDef="let user">{{user.role.name}}</mat-cell>
		</ng-container>
		<ng-container matColumnDef="creationDate">
			<mat-header-cell *matHeaderCellDef mat-sort-header>{{'JW.CREATION_DATE' | translate}}</mat-header-cell>
			<mat-cell *matCellDef="let user">{{user.creationDate | date:'yyyy-MM-dd HH:mm:ss'}}</mat-cell>
		</ng-container>
		<ng-container matColumnDef="modificationDate">
			<mat-header-cell *matHeaderCellDef mat-sort-header>{{'JW.MODIFICATION_DATE' | translate}}</mat-header-cell>
			<mat-cell *matCellDef="let user">{{user.modificationDate | date:'yyyy-MM-dd HH:mm:ss'}}</mat-cell>
		</ng-container>
		<ng-container matColumnDef="isActive">
			<mat-header-cell *matHeaderCellDef mat-sort-header class="jw-users-table-container-header-cell-is-active">
				{{'USER.IS_ACTIVE' | translate}}</mat-header-cell>
			<mat-cell *matCellDef="let user" class="jw-users-table-container-cell-is-active">
				{{user.isActive ? ('JW.YES' | translate) : ('JW.NO' | translate)}}</mat-cell>
		</ng-container>
		<ng-container matColumnDef="actions">
			<mat-header-cell *matHeaderCellDef class="jw-table-header-cell-actions">
				{{'JW.ACTIONS' | translate}}</mat-header-cell>
			<mat-cell *matCellDef="let user" class="jw-table-cell-actions">
				<i class="material-icons jw-table-cell-actions__icon jw-table-cell-actions__icon--key"
					matTooltip="{{'USER.CHANGE_PASSWORD' | translate}}" (click)="onChangePassword($event, user)">vpn_key</i>
				<i class="material-icons jw-table-cell-actions__icon jw-table-cell-actions__icon--edit"
					matTooltip="{{'JW.EDIT' | translate}}" (click)="onEdit($event, user)">edit</i>
				<i class="material-icons jw-table-cell-actions__icon jw-table-cell-actions__icon--delete"
					matTooltip="{{'JW.DELETE' | translate}}" (click)="onDelete($event, user)">delete</i>
			</mat-cell>
		</ng-container>
		<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
		<mat-row *matRowDef="let user; columns:displayedColumns;" (click)="onUserClick(USER)"></mat-row>
	</mat-table>
	<mat-paginator (page)="onPaginatorChange($event)" class="jw-users-table-container-paginator"
		[pageIndex]="paginatorConfig.pageIndex" [pageSize]="paginatorConfig.pageSize" [length]="paginatorConfig.length"
		[pageSizeOptions]="paginatorConfig.pageSizeOptions" showFirstLastButtons></mat-paginator>
</div>