@import '../../../../assets/styles/jw-base-variables.less';

.jw-users-table {
	display: flex;
	flex-direction: column;
	border-radius: @jw-border-radius-large;

	&-header {
		display: flex;
		flex-direction: row;
		margin-bottom: 2 * @jw-margin-small;
		
		&-search {
			flex: 1;
		}	
	}
	
	&-container {
		&-header-cell {
			&-login {	flex: 2; }
			&-email {	flex: 2; }
			&-is-active { flex: 0.5; }
		}

		&-cell {
			&-login {
				font-weight: bold;
				flex: 2;
			}
			&-email { flex: 2; }
			&-is-active { flex: 0.5; }
		}
	}
}