@import '../../../assets/styles/jw-base-variables.less';

.jw-error {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;

	&-container {
		display: flex;
		flex-direction: column;
		padding: @jw-padding-large;
		color: @jw-text-color;
		background: @jw-light-transparent-very;
		border-radius: @jw-border-radius-large;

		&__code {
			font-size: 125px;
		}

		&__description {
			font-size: 50px;
		}
	}
}