<div class="jw-error">
	<div class="jw-error-container">
		<span class="jw-error-container__code">404</span>
		<span class="jw-error-container__description">{{'ERROR.PAGE_NOT_FOUND' | translate}}</span>
	</div>
</div>