<div class="jw-sidenav">
	<mat-sidenav-container class="jw-sidenav-container">
		<mat-sidenav #sidenav mode="side" class="jw-sidenav-container-body" [fixedInViewport]="false">
			<div class="jw-sidenav-container-body-menu">
				<ng-container *ngFor="let node of menuNodesService.sidenavNodes; let i = index">
					<div *ngIf="i !== 0 && i % 3 == 0" class="jw-separator jw-separator--dark jw-separator--none"></div>
					<div class="jw-sidenav-container-body-menu-item" [routerLink]="node.router">
						<i class="material-icons jw-sidenav-container-body-menu-item__icon">{{node.iconName}}</i>
						<span class="jw-sidenav-container-body-menu-item__title">{{node.nameKey | translate}}</span>
					</div>
				</ng-container>
			</div>
		</mat-sidenav>
	</mat-sidenav-container>
</div>