@import '../../../assets/styles/jw-base-variables.less';

@jw-sidenav-width: 220px;

.jw-sidenav {
	height: 100%;
	font-family: 'Roboto-Regular';

	&-container {
		height: 100%;
		background: none;

		&-body {
			display: flex;
			flex: 1;
			width: @jw-sidenav-width;
			background: lighten(@jw-dark-transparent-extra-little, 5%);
			border-right: none;
			margin-right: -5px;		
			color: @jw-text-color-invert;

			&-menu {
				display: flex;
				flex-direction: column;
				margin-top: 2 * @jw-margin-small;

				&-item {
					display: flex;
					flex-direction: row;
					align-items: center;
					padding: 2 * @jw-padding-small @jw-padding; 
					font-size: @jw-text-size-large;	
					text-decoration: none;
					color: @jw-text-color-invert;
					cursor: pointer;

					&__title {
						margin-left: 2 * @jw-margin-small;
					}
					&__icon {
						color: darken(@jw-text-color-invert, 30%);
						font-size: 1.5 * @jw-icon-size;
					}
					&--active {
						background: red;
					}
				}

				&-item:focus {
					outline: 0;
				}

				&-item:hover {
					background: lighten(@jw-dark-transparent-extra-little, 15%);
				}
			}
		}
	}
}
