@import '../../../assets/styles/jw-base-variables.less';

@jw-loader-background: rgba(0,0,0,0.5);
@jw-loader-container-size: 192px;
@jw-loader-size: 174px;
@jw-loader-position: 84px;
@jw-loader-speed: 2s;
@jw-loader-delay: -1s;

.jw-loader {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
	background: @jw-loader-background;
	
	&-container {
		display: inline-block;
		position: relative;
		width: @jw-loader-container-size;
		height: @jw-loader-container-size;
	}

	&-container div {
		position: absolute;
		border: 4px solid #fff;
		opacity: 1;
		border-radius: 50%;
		animation: jw-loader-keyframes @jw-loader-speed cubic-bezier(0, 0.2, 0.8, 1) infinite;
	}

	&-container div:nth-child(2) {
		animation-delay: @jw-loader-delay;
	}

	&-animation-in { animation: fadeIn 1s; }
	&-animation-out {	animation: fadeOut 1s; }
}

@keyframes jw-loader-keyframes {
  0% {
		top: @jw-loader-position;
    left: @jw-loader-position;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: -1px;
    left: -1px;
    width: @jw-loader-size;
    height: @jw-loader-size;
    opacity: 0;
  }
}

