@import '../../../assets/styles/jw-base-variables.less';

.jw-settings {
	display: flex;
	flex-direction: column;
	animation: fadeIn 1s;

	&-container {
		display: flex;
		flex-direction: row;

		&-user {
			display: flex;
			flex: 1;
			flex-direction: column;
			background: @jw-light-transparent-extra-little;
			border-radius: @jw-border-radius-large;
			padding: @jw-padding;
			margin-top: @jw-margin-small;
			margin-right: @jw-margin-small;
			font-size: @jw-text-size-extra-large;
			height: 100%;
			width: 50%;

			&-header {
				display: flex;
				flex-direction: row;

				&__span {
					display: flex;
					flex: 1;
				}
			}

			&-info {
				display: flex;
				flex-direction: row;
				margin: @jw-margin-small 0;
				align-items: center;

				&-label {
					flex: 1;
					font-weight: bold;
				}

				&-data {
					display: flex;
					flex: 2;

					&__span {
						display: flex;
						align-items: center;
						flex: 1;
					}

					&__icon {
						background: @jw-brand-success;
						color: @jw-text-color-invert  !important;
						font-size: @jw-text-size-large  !important;
						padding: @jw-padding-small;
						border-radius: 50%;
						cursor: pointer;
					}
				}
			}
		}

		&-account {
			display: flex;
			flex: 1;
			flex-direction: column;
			background: @jw-light-transparent-extra-little;
			border-radius: @jw-border-radius-large;
			padding: @jw-padding;
			margin-top: @jw-margin-small;
			font-size: @jw-text-size-extra-large;
			height: 100%;
			width: 50%;

			&-checkbox {
				margin-bottom: @jw-margin;

				&__span {
					word-wrap: break-word;
					white-space: normal !important;
				}
			}

			&__button {
				height: @jw-button-height;
				font-size: @jw-button-font-size;
				border-radius: @jw-border-radius-large  !important;
			}
		}
	}
}