<div class="jw-settings">
	<jw-title [title]="'SETTINGS.TITLE'"></jw-title>
	<div class="jw-settings-container">
		<div class="jw-settings-container-user">
			<div class="jw-settings-container-user-header">
				<span class="jw-settings-container-user-header__span">{{'SETTINGS.USER' | translate}}</span>
			</div>
			<div class="jw-separator jw-separator--dark"></div>
			<div class="jw-settings-container-user-info">
				<div class="jw-settings-container-user-info-label">{{'USER.LOGIN' | translate}}</div>
				<div class="jw-settings-container-user-info-data">{{user.login}}</div>
			</div>
			<div class="jw-settings-container-user-info">
				<div class="jw-settings-container-user-info-label">Password</div>
				<div class="jw-settings-container-user-info-data">
					<div class="jw-settings-container-user-info-data__span">**********</div>
					<i class="material-icons jw-settings-container-user-info-data__icon"
						matTooltip="{{'USER.CHANGE_PASSWORD' | translate}}" (click)="onChangePassword()">vpn_key</i>
				</div>
			</div>
			<div class="jw-settings-container-user-info">
				<div class="jw-settings-container-user-info-label">{{'USER.EMAIL' | translate}}</div>
				<div class="jw-settings-container-user-info-data">
					<div class="jw-settings-container-user-info-data__span">{{user.email}}</div>
					<i class="material-icons jw-settings-container-user-info-data__icon"
						matTooltip="{{'USER.CHANGE_EMAIL' | translate}}" (click)="onChangeEmail()">edit</i>
				</div>
			</div>
		</div>
		<div class="jw-settings-container-account">
			<span>{{'SETTINGS.ACCOUNT' | translate}}</span>
			<div class="jw-separator jw-separator--dark"></div>
			<mat-checkbox class="jw-settings-container-account-checkbox" [(ngModel)]="setting.isNewsletterNotification">
				<span class="jw-settings-container-account-checkbox__span">
					{{'SETTINGS.IS_NEWSLETTER_NOTIFICATION' | translate}}
				</span>
			</mat-checkbox>
			<mat-checkbox class="jw-settings-container-account-checkbox" [(ngModel)]="setting.isNewMessageNotification">
				<span class="jw-settings-container-account-checkbox__span">
					{{'SETTINGS.IS_NEW_MESSAGE_NOTIFICATION' | translate}}
				</span>
			</mat-checkbox>
			<button mat-raised-button color="accent" class="jw-settings-container-account__button"
				(click)="onSaveSetting()">{{'JW.SAVE' | translate}}</button>
		</div>
	</div>
</div>