@import '../../../assets/styles/jw-base-variables.less';

@jw-footer-height: 30px;

.jw-footer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: @jw-footer-height;
	color: @jw-text-color-invert;
	font-size: @jw-text-size-small;
	background: @jw-light-transparent-very;

	&-copyright {
		display: flex;
    align-items: center;
		color: darken(@jw-text-color-invert, 20%);

		&__icon {
			font-size: 12px;
			margin: 0 @jw-margin-small;
		}
	}

	&-language {
		color: darken(@jw-text-color-invert, 30%);
		margin-left: 5px;
		
		&__span {
			cursor: pointer;
		}
	}
}