<div class="jw-footer">
	<div class="jw-footer-copyright">
		<span>{{'FOOTER.COPYRIGHT' | translate}}</span>
		<i class="material-icons jw-footer-copyright__icon">copyright</i>
		<span>{{'FOOTER.ALL_RIGHTS_RESERVED' | translate}}</span>
	</div>
</div>