<div class="jw-dialog jw-user-password">
	<div class="jw-dialog-header">
		<span>{{'USER.PASSWORD_CHANGE' | translate}} - {{data.user.login}}</span>
	</div>
	<div class="jw-dialog-body jw-dialog jw-user-password-body">
		<form [formGroup]="password.form" class="jw-user-password-form">
			<mat-form-field appearance="outline" class="jw-user-password-form-field">
				<mat-label>{{'USER.PASSWORD' | translate}} *</mat-label>
				<input matInput placeholder="{{'USER.PASSWORD' | translate}} *" type="password" formControlName="password"
					name="password" autocomplete="off" (keyup.enter)="onSaveClick()">
				<mat-error *ngIf="password.form.controls['password'].errors?.required">
					{{'USER.FIELD_REQUIRED' | translate}}</mat-error>
				<mat-error *ngIf="password.form.controls['password'].errors?.minlength">
					{{'USER.MIN_LENGTH' | translate:{length: password.passwordMinLength} }}</mat-error>
			</mat-form-field>
			<mat-form-field appearance="outline" class="jw-user-password-form-field">
				<mat-label>{{'USER.CONFIRM_PASSWORD' | translate}} *</mat-label>
				<input matInput placeholder="{{'USER.CONFIRM_PASSWORD' | translate}} *" type="password"
					formControlName="confirmPassword" name="confirmPassword" autocomplete="off" (keyup.enter)="onSaveClick()">
				<mat-error *ngIf="password.form.controls['confirmPassword'].errors?.required">
					{{'USER.FIELD_REQUIRED' | translate}}</mat-error>
				<mat-error *ngIf="password.form.controls['confirmPassword'].errors?.minlength">
					{{'USER.MIN_LENGTH' | translate:{length: password.passwordMinLength} }}</mat-error>
				<mat-error *ngIf="password.form.controls['confirmPassword'].errors?.mustMatch">
					{{'USER.PASSWORDS_NOT_MATCH' | translate }}</mat-error>
			</mat-form-field>
		</form>
	</div>
	<div class="jw-dialog-footer">
		<button mat-raised-button color="accent" class="jw-dialog-footer__button" (click)="onSaveClick()"
			[disabled]="password.form.invalid">{{'JW.SAVE' | translate}}</button>
		<button mat-raised-button color="warn" class="jw-dialog-footer__button"
			(click)="dialogRef.close(false)">{{'JW.CANCEL' | translate}}</button>
	</div>
</div>