@import '../../../assets/styles/jw-base-variables.less';

@jw-dashboard-item-space: 2 * @jw-margin-small;

.jw-dashboard	{
	display: flex;
	flex-direction: column;
	background: @jw-light-transparent-extra-little;
	border-radius: @jw-border-radius-large;
	padding: @jw-padding;
	animation: fadeIn 1s;

	&-header {
		font-size: @jw-text-size-extra-large;
		color: @jw-text-color;
	}

	&-row {
		display: flex;
		flex-direction: row;
		flex: 1;
		margin-bottom: @jw-dashboard-item-space;

		&-node {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			background: @jw-brand-primary;
			border-radius: @jw-border-radius-large;
			color: @jw-text-color-invert;
			margin-right: @jw-dashboard-item-space;
			cursor: pointer;

			&__icon {
				font-size: 2 * @jw-icon-extra-large;
				margin-top: @jw-margin;
			}

			&__title {
				font-size: @jw-text-size-extra-large;
				margin: 2 * @jw-margin-small  @jw-margin-small @jw-margin @jw-margin-small;
				text-align: center;
			}
		}

		&-node:last-child { margin-right: 0; }
		&-node:hover {
			background: darken(@jw-brand-primary, 10%);
		}
	}

	&-row:last-child { margin-bottom: 0; }
}
