<div class="jw-dashboard">
	<div class="jw-dashboard-header">
		<span>{{'DASHBOARD.TITLE' | translate}}</span>
	</div>
	<div class="jw-separator jw-separator--dark"></div>
	<div *ngFor="let menuNodeRow of menuNodeRows" class="jw-dashboard-row">
		<div *ngFor="let node of menuNodeRow" class="jw-dashboard-row-node"
			[ngStyle]="{'width':  100/menuNodeRow.length + '%'}" routerLink="{{node.router}}">
			<i class="material-icons jw-dashboard-row-node__icon">{{node.iconName}}</i>
			<span class="jw-dashboard-row-node__title">{{node.nameKey | translate}}</span>
		</div>
	</div>
</div>