<div class="jw-manage-items-sold">
	<!-- <jw-items-table class="jw-manage-items-sold-table" [itemsData]="itemsData"
		(itemsDataUpdate)="itemsDataUpdate($event)" [isDeleteFromFavoritesAction]="true"></jw-items-table> -->
</div>