@import '../../../assets/styles/jw-base-variables.less';

.jw-items {
	display: flex;
	flex-direction: row;
	animation: fadeIn 1s;
	
	&-menu {
		display: flex;
		flex-direction: column;
		width: 250px;

		&-container {
			margin-bottom: @jw-margin-small;
		}
	}

	&-container {
		display: flex;
		flex-direction: column;
		flex: 1;
		margin-left: @jw-margin;

		&-header {
			display: flex;
			flex-direction: row;
			margin-bottom: @jw-margin-small;
			padding: 2 * @jw-padding-small;
			background: @jw-light-transparent-extra-little;
			border-radius: @jw-border-radius-large;

			&-view {
				margin-right: 2 * @jw-margin-small;

				&__button {
					border-radius: @jw-border-radius-large !important;
					height: 52px;
					width: 52px;
				}

				&__icon {
					color: @jw-text-color-invert;
					font-size: 2 * @jw-icon-large;
				}
			}

			&-sort {
				margin-right: 2 * @jw-margin-small;
			}

			&-search {
				flex: 1;
			}
		}
		
		&-paginator {
			margin-bottom: @jw-margin-small;
			background: @jw-light-transparent-extra-little;
			border-radius: @jw-border-radius-large;
		}
	}
}