<div class="jw-items">
	<div class="jw-items-menu">
		<jw-items-categories class="jw-items-menu-container" [category]="selectedCategoryId"
			(categoryChanged)="onCategoryChanged($event)"></jw-items-categories>
		<!-- <jw-items-filters class="jw-items-menu-container" (filtersChanged)="onFiltersChanged($event)"></jw-items-filters> -->
	</div>
	<div class="jw-items-container">
		<div class="jw-items-container-header">
			<div class="jw-items-container-header-view">
				<button *ngIf="viewMode === viewModeEnum.Grid" (click)="onViewModeChanged(viewModeEnum.List)" mat-raised-button
					color="primary" class="jw-items-container-header-view__button" matTooltip="{{'ITEMS.LIST_VIEW' | translate}}"
					matTooltipPosition="below">
					<i class="material-icons jw-items-container-header-view__icon">view_stream</i>
				</button>
				<button *ngIf="viewMode === viewModeEnum.List" (click)="onViewModeChanged(viewModeEnum.Grid)" mat-raised-button
					color="primary" class="jw-items-container-header-view__button" matTooltip="{{'ITEMS.GRID_VIEW' | translate}}"
					matTooltipPosition="below">
					<i class="material-icons jw-items-container-header-view__icon">view_comfy</i>
				</button>
			</div>
			<jw-sort class="jw-items-container-header-sort" [sortInfo]="sortInfo" (sortChanged)="onSortChanged($event)">
			</jw-sort>
			<jw-search (searchTextChanged)="onSearchTextChanged($event)" class="jw-items-container-header-search"></jw-search>
		</div>
		<jw-items-list *ngIf="viewMode === viewModeEnum.List" class="jw-items-container-list" [items]="items">
		</jw-items-list>
		<jw-items-grid *ngIf="viewMode === viewModeEnum.Grid" class="jw-items-container-grid" [items]="items"
			[size]="itemsGridSize"></jw-items-grid>
		<div class="jw-items-container-paginator">
			<mat-paginator (page)="onPaginatorChanged()" [pageIndex]="paginatorConfig.pageIndex"
				[pageSize]="paginatorConfig.pageSize" [length]="paginatorConfig.length"
				[pageSizeOptions]="paginatorConfig.pageSizeOptions" showFirstLastButtons></mat-paginator>
		</div>
	</div>
</div>