<div class="jw-header">
	<div class="jw-header-left">
		<div class="jw-header-left-menu" (click)="portalService.menuToggle()" *ngIf="authService.isLogged">
			<i class="jw-header-left-menu__icon material-icons" matTooltip="{{'HEADER.MENU' | translate}}"
				matTooltipPosition="below">menu</i>
		</div>
		<a class="jw-header-left-title" [routerLink]="['/']">
			<span class="jw-header-left-title__span">{{'HEADER.JEWELLERY' | translate}}</span>
			<span>{{'JW.NAME' | translate }}</span>
		</a>
	</div>
	<div *ngIf="!authService.isLogged" (click)="login()" class="jw-header-button"
		matTooltip="{{'HEADER.LOGIN' | translate}} / {{'HEADER.REGISTER' | translate}}" matTooltipPosition="below">
		<i class="material-icons jw-header-button__icon">account_circle</i>
	</div>
	<div jwShowHover [jwShowHoverWidth]="24" [jwShowHoverDelay]="0.5" *ngIf="authService.isLogged"
		class="jw-header-button" matTooltip="{{'HEADER.MY_ACCOUNT' | translate}}" matTooltipPosition="below">
		<i class="material-icons jw-header-button__icon">account_circle</i>
		<span class="jw-header-button__span">{{authService.login}}</span>
	</div>
	<div *ngIf="authService.isLogged" class="jw-header-button" matTooltip="{{'HEADER.MESSAGES' | translate}}"
		matTooltipPosition="below">
		<i class="material-icons jw-header-button__icon">message</i>
	</div>
	<div *ngIf="authService.isLogged" class="jw-header-button" matTooltip="{{'HEADER.SHOPPING_CART' | translate}}"
		matTooltipPosition="below">
		<i class="material-icons jw-header-button__icon">shopping_cart</i>
	</div>
	<div jwShowHover [jwShowHoverWidth]="24" [jwShowHoverDelay]="0.5" class="jw-header-button"
		matTooltip="{{'HEADER.LANGUAGE' | translate}}" matTooltipPosition="below" [matMenuTriggerFor]="beforeMenu">
		<i class="material-icons jw-header-button__icon">language</i>
		<span class="jw-header-button__span">{{'HEADER.' + getCurrentLanguage() | uppercase | translate}}</span>
	</div>
	<div *ngIf="authService.isLogged" class="jw-header-button" (click)="logout()"
		matTooltip="{{'HEADER.LOGOUT' | translate}}" matTooltipPosition="below">
		<i class="material-icons jw-header-button__icon">exit_to_app</i>
	</div>
	<mat-menu #beforeMenu="matMenu" xPosition="before" class="jw-header-language">
		<button mat-menu-item class="jw-header-language-button" (click)="changeLanguage('it')">
			<span class="flag-icon flag-icon-it jw-header-language-button__icon"></span>
			<span>{{'HEADER.IT' | translate}}</span>
		</button>
		<button mat-menu-item class="jw-header-language-button" (click)="changeLanguage('en')">
			<span class="flag-icon flag-icon-gb jw-header-language-button__icon"></span>
			<span>{{'HEADER.EN' | translate}}</span>
		</button>
		<button mat-menu-item class="jw-header-language-button" (click)="changeLanguage('pl')">
			<span class="flag-icon flag-icon-pl jw-header-language-button__icon"></span>
			<span>{{'HEADER.PL' | translate}}</span>
		</button>
	</mat-menu>
</div>