@import '../../../assets/styles/jw-base-variables.less';

@jw-header-height: 50px;

@media all and (max-width: 600px) {
	.jw-header-left-title {
		font-size: @jw-text-size-large !important;
	}
}

.jw-header {
	display: flex;
	flex-direction: row;
	align-items: center;
	height: @jw-header-height;
	color: @jw-text-color-invert;
	font-size: @jw-text-size-extra-large;
	background: @jw-dark-transparent-extra-little;
	padding-right: @jw-padding;

	&-left {
		display: flex;
		justify-content: left;	
		align-items: center;
		flex: 1;

		&-menu {
			display: flex;
			justify-content: center;
			align-items: center;
			background: @jw-light-transparent-very;
			padding-left: @jw-padding;
			padding-right: @jw-margin;
			height: @jw-header-height;
			cursor: pointer;

			&__icon {
				font-size: 2 * @jw-icon-size;
			}
		}

		&-title {
			font-family: 'Montserrat-ExtraBold';
			padding-left: @jw-padding;
			font-size: 2 * @jw-text-size-small;
			color: inherit;
			text-decoration: none;
			cursor: pointer;

			&__span {
				font-family: 'Montserrat-Regular';
				margin-right: @jw-margin;
			}
		}
	}

	&-button {
		display: flex;
		align-items: center;
		border-radius: 22px;
		background: @jw-light-transparent-very;
		padding: @jw-padding-small;
		font-size: 2 * @jw-text-size-extra-small !important;
		margin-left: 2 * @jw-margin-small;
		font-family: 'Roboto-Regular';
		cursor: pointer;

		&__span {
			padding: 0 @jw-margin-small;
		}
	}
	
	&-language {
		min-width: 50px !important;

		&-button {
			height: 35px;
			line-height: 35px;
			font-size: 16px;
			padding: 0 (2 * @jw-padding-small);

			&__icon {
				margin-right: 2 * @jw-padding-small;
			}
		}
	}
}