<div class="jw-dialog jw-info-dialog">
	<div class="jw-dialog-header">
		<span>{{data.title | translate}}</span>
	</div>
	<div class="jw-dialog-body jw-info-dialog-body">
		<span>{{data.text | translate}}</span>
	</div>
	<div *ngIf="data.dialogMode === infoDialogModeEnum.Confirm" class="jw-dialog-footer">
		<button mat-raised-button color="accent" class=" jw-dialog-footer__button"
			(click)="dialogRef.close(true)">{{'JW.CONFIRM' | translate}}</button>
		<button mat-raised-button color="warn" class="jw-dialog-footer__button"
			(click)="dialogRef.close(false)">{{'JW.CANCEL' | translate}}</button>
	</div>
	<div *ngIf="data.dialogMode === infoDialogModeEnum.Info" class="jw-dialog-footer">
		<button mat-raised-button color="accent" class=" jw-dialog-footer__button"
			(click)="dialogRef.close()">{{'JW.CLOSE' | translate}}</button>
	</div>
</div>