<div class="jw-manage-users">
	<jw-title [title]="'MENU.USERS'"></jw-title>
	<mat-tab-group class="jw-manage-users-tabs" mat-align-tabs="center" [(selectedIndex)]="selectedTabIndex"
		(selectedTabChange)="selectedTabChange($event)">
		<mat-tab class="jw-manage-users-tabs-all" label="{{'USERS.ALL' | translate}}">
			<jw-manage-users-all *ngIf="selectedTabIndex === manageUsersTabEnum.AllUsers"></jw-manage-users-all>
		</mat-tab>
		<mat-tab class="jw-manage-users-tabs-active" label="{{'USERS.ACTIVE' | translate}}">
			<jw-manage-users-active *ngIf="selectedTabIndex === manageUsersTabEnum.ActiveUsers"></jw-manage-users-active>
		</mat-tab>
		<mat-tab class="jw-manage-users-tabs-inactive" label="{{'USERS.INACTIVE' | translate}}">
			<jw-manage-users-inactive *ngIf="selectedTabIndex === manageUsersTabEnum.InactiveUsers">
			</jw-manage-users-inactive>
		</mat-tab>
	</mat-tab-group>
</div>