<div class="jw-dialog jw-user-email">
	<div class="jw-dialog-header">
		<span>{{'USER.EMAIL_CHANGE' | translate}} - {{data.user.login}}</span>
	</div>
	<div class="jw-dialog-body jw-dialog jw-user-email-body">
		<form [formGroup]="email.form" class="jw-user-email-form">
			<mat-form-field appearance="outline" class="jw-user-edit-form-field">
				<mat-label>{{'USER.EMAIL' | translate}} *</mat-label>
				<input matInput placeholder="{{'USER.EMAIL' | translate}} *" formControlName="email" name="email">
				<mat-error *ngIf="email.form.controls['email'].errors?.required">
					{{'USER.FIELD_REQUIRED' | translate}}</mat-error>
				<mat-error
					*ngIf="email.form.controls['email'].errors?.email || email.form.controls['email'].errors?.emailFormat">
					{{'USER.INCORRECT_FORMAT' | translate}}</mat-error>
			</mat-form-field>
		</form>
	</div>
	<div class="jw-dialog-footer">
		<button mat-raised-button color="accent" class="jw-dialog-footer__button" (click)="onSaveClick()"
			[disabled]="email.form.invalid">{{'JW.SAVE' | translate}}</button>
		<button mat-raised-button color="warn" class="jw-dialog-footer__button"
			(click)="dialogRef.close(false)">{{'JW.CANCEL' | translate}}</button>
	</div>
</div>