<div class="jw-title"
	[ngClass]="{'jw-title-background': background, 'jw-title-padding-with-separator': padding && separator, 'jw-title-padding-without-separator': padding && !separator}">
	<div class="jw-title-header">
		<i class="material-icons jw-title-header__icon" routerLink="/" matTooltip="{{'MENU.HOME' | translate}}">home</i>
		<span class="jw-title-header__span">{{title | translate}}</span>
	</div>
	<div *ngIf="separator" class="jw-separator jw-separator--dark"></div>
</div>