@import '../../../assets/styles/jw-base-variables.less';

.jw-title {
	display: flex;
	flex-direction: column;
	animation: fadeIn 1s;

	&-background {
		background: @jw-light-transparent-extra-little;
		border-radius: @jw-border-radius-large;
	}

	&-padding {
		&-with-separator {
			padding: @jw-padding @jw-padding @jw-padding-small @jw-padding;
		}

		&-without-separator {
			padding: @jw-padding;
		}
	}



	&-header {
		display: flex;
		flex-direction: row;
		align-items: center;

		&__icon {
			font-size: 22px;
			color: @jw-text-color;
			cursor: pointer;
		}

		&__span {
			font-size: @jw-text-size-extra-large;
			margin-left: @jw-margin-small;
		}
	}
}