<div class="jw-home">
	<jw-menu-bar class="jw-home-menu-bar"></jw-menu-bar>
	<jw-banner class="jw-home-banner"></jw-banner>
	<div class="jw-home-items-new">
		<span class="jw-home-items-new__title">{{'HOME.LATEST' | translate}}</span>
		<jw-items-grid class="jw-items-container-grid" [items]="itemsNew" [size]="itemsNewCount"></jw-items-grid>
	</div>
</div>