@import '../../../assets/styles/jw-base-variables.less';

.jw-home {
	display: flex;
	flex-direction: column;
	flex: 1;

	&-menu-bar {
		margin-bottom: @jw-margin;
		animation: fadeIn 1s;
	}

	&-banner {
		margin-bottom: @jw-margin;
		animation: fadeIn 1s;
	}

	&-items-new {
		display: flex;
		flex-direction: column;
		
		&__title {
			background: @jw-light-transparent-extra-little;
			border-radius: @jw-border-radius-large;
			padding: 2 * @jw-padding-small;
			margin-bottom: @jw-margin-small;
			font-family: 'Montserrat-Medium';
			font-size: @jw-text-size-large;
			animation: fadeIn 1s;
		}

		 &-container {
			 display: flex;
			 flex-direction: row;

			 &-item {
				 display: flex;
				 flex: 1;
			 }

			 	&-item:not(:last-child) {
					margin-right: @jw-margin-small;
				}
		 }
	}
}