<div class="jw-favorite">
	<i *ngIf="item.isFavorite" class="material-icons jw-favorite__icon"
		(click)="$event.stopPropagation(); itemsService.deleteItemFromFavorites(item)"
		matTooltip="{{'ITEM.DELETE_FROM_FAVORITES' | translate}}" matTooltipPosition="below">favorite</i>
	<i *ngIf="!item.isFavorite" class="material-icons jw-favorite__icon"
		(click)="$event.stopPropagation(); itemsService.addItemToFavorites(item)"
		matTooltip="{{'ITEM.ADD_TO_FAVORITES' | translate}}" matTooltipPosition="below">favorite_border</i>
</div>