@import '../../../assets/styles/jw-base-variables.less';

.jw-favorite:hover {
	transform: scale(1.2);
}

.jw-favorite {
	color: @jw-brand-danger;
	margin: @jw-margin-small;
	transition: transform 0.5s;
	cursor: pointer;
	
	&__icon {
		background: @jw-dark-transparent-very;
		padding: @jw-padding-small;
		border-radius: 50%;
	}
}