@import '../../../../../assets/styles/jw-base-variables.less';

.jw-items-filters {
	display: flex;
	flex-direction: column;
	background: @jw-light-transparent-extra-little;
	padding: @jw-padding;
	border-radius: @jw-border-radius-large;

	&__title {
		font-family: 'Montserrat-Medium';
		font-size: @jw-text-size-extra-large;
	}

	&-container {
	}
}