<div class="jw-manage-items">
	<jw-title [title]="'MENU.ITEMS'"></jw-title>
	<mat-tab-group class="jw-manage-items-tabs" mat-align-tabs="center" [(selectedIndex)]="selectedTabIndex"
		(selectedTabChange)="selectedTabChange($event)">
		<mat-tab class="jw-manage-items-tabs-sold" label="{{'ITEMS.SOLD' | translate}}">
			<jw-manage-items-sold *ngIf="selectedTabIndex === manageItemsTabEnum.SoldItems"></jw-manage-items-sold>
		</mat-tab>
		<mat-tab class="jw-manage-items-tabs-active" label="{{'ITEMS.ACTIVE' | translate}}">
			<jw-manage-items-active *ngIf="selectedTabIndex === manageItemsTabEnum.ActiveItems"></jw-manage-items-active>
		</mat-tab>
		<mat-tab class="jw-manage-items-tabs-inactive" label="{{'ITEMS.INACTIVE' | translate}}">
			<jw-manage-items-inactive *ngIf="selectedTabIndex === manageItemsTabEnum.InactiveItems">
			</jw-manage-items-inactive>
		</mat-tab>
	</mat-tab-group>
</div>