@import '../../../assets/styles/jw-base-variables.less';

.jw-manage-items {
	display: flex;
	flex-direction: column;
	flex: 1;

	&-tabs {
		display: flex;
		flex: 1;
		margin-top: @jw-margin-small;
		background: @jw-light-transparent-extra-little;
		border-radius: @jw-border-radius-large;

		&-active {}

		&-inactive {}
	}
}