<div class="jw-item-edit">
	<div class="jw-item-edit-header">
		<span>{{'ITEM.EDIT_ITEM' | translate}}</span>
	</div>
	<div class="jw-separator"></div>
	<jw-item-form [itemForm]="itemForm" (onSave)="onItemFormSave($event)"></jw-item-form>
</div>