@import '../../../../assets/styles/jw-base-variables.less';

.jw-item-edit {
	display: flex;
	flex-direction: column;
	background: @jw-light-transparent-extra-little;
	border-radius: @jw-border-radius-large;
	padding: 15px;
	animation: fadeIn 1s;
}