@import '../assets/styles/jw-base-variables.less';

@jw-background-blur: 10px;

.jewellery {
	display: flex;
	flex: 1;
	height: 100%;

	&-container {
		display: flex;
		flex-direction: column;
		flex: 1;

		&-header {
			animation: fadeInDown 1s;
		}
	
		&-body {
			display: flex;
			flex-grow: 1;
			overflow-y: auto;

			&-content {
				display: flex;
				flex-grow: 1;
				overflow: auto;
				padding: @jw-padding;
			}

			&-content > .ng-star-inserted {
				width: 100%;
			}
		}
	
		&-footer {
			animation: fadeInUp 1s;
		}
	}

	&-background {
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: @jw-z-index-background;
		transform: scale(1.05);
		background-image: url('../assets/images/jw-background.jpg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		filter: blur(@jw-background-blur);
		-webkit-filter: blur(@jw-background-blur);
		-moz-filter: blur(@jw-background-blur);
		-o-filter: blur(@jw-background-blur);
		-ms-filter: blur(@jw-background-blur);
	}

	&-loader {
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: @jw-z-index-loader;
	}
}