<div class="jewellery">
	<div class="jewellery-background"></div>
	<div class="jewellery-container">
		<jw-header class="jewellery-container-header"></jw-header>
		<div class="jewellery-container-body">
			<jw-sidenav></jw-sidenav>
			<div class="jewellery-container-body-content">
				<router-outlet></router-outlet>
				<simple-notifications></simple-notifications>
			</div>
		</div>
		<jw-footer class="jewellery-container-footer"></jw-footer>
	</div>
	<jw-loader [hidden]="!isLoading" class="jewellery-loader" [isLoading]="portalService.isLoading"
		(isLoadingChange)="isLoading=$event"></jw-loader>
</div>