@import '../../../../assets/styles/jw-base-variables.less';

.jw-item-details {
	display: flex;
	flex-direction: row;
	background: @jw-light-transparent-extra-little;
	border-radius: @jw-border-radius-large;
	padding: @jw-padding;

	&-images {
		flex: 1;

		&-gallery {
			.ngx-gallery-arrow-wrapper,
			.ngx-gallery-image {
				z-index: @jw-z-index-gallery !important;
			}
			
			.ngx-gallery-icon,
			.ngx-gallery-arrow {
				color: @jw-brand-primary !important;
			}

			.ngx-gallery-arrow {
				opacity: 0.9 !important;
			}
		}
	}

	&-info {
		display: flex;
		flex: 1;
		flex-direction: column;
		margin-left: @jw-margin;

		&-header {
			display: flex;
			flex-direction: row;

			&__title {
				display: flex;
				flex: 1;
				font-family: 'Montserrat-Medium';
				font-size: 2 * @jw-text-size-small;
			}

			&__favorite {
				color: @jw-brand-danger;
			}
		}

		&-price {
			margin: 2 * @jw-margin-small 0;
			font-size: 2 * @jw-text-size-normal;
			&__number {
				font-family: 'Montserrat-Bold';
			}
		}

		&-quantity {	
			&__title {
				font-size: @jw-text-size-large;
			}
			&__number {
				font-family: 'Montserrat-Medium';
				font-size: @jw-text-size-extra-large;
				margin-left: @jw-margin-small;
			}
		}

		&-params {
			display: flex;
			flex-direction: row;
			
			&-param {
				display: flex;
				flex-direction: column;

				&__title {
					font-family: 'Montserrat-SemiBold';
					margin-bottom: @jw-margin-small;			
				}
			}

			&-param:not(:first-child) {
				margin-left: @jw-margin;
			}
		}

		&-description {
			flex: 1;
			font-size: 2 * @jw-text-size-small;
		}

		&-actions {
			&__button {
				height: @jw-button-height;
				font-size: @jw-button-font-size;
				border-radius: @jw-border-radius-large !important;
				width: 100%;
				margin-top: @jw-margin-small !important;
			}
		}
	}
}
