<div class="jw-item-details">
	<div class="jw-item-details-images">
		<ngx-gallery class="jw-item-details-images-gallery" [options]="galleryOptions" [images]="galleryImages">
		</ngx-gallery>
	</div>
	<div class="jw-item-details-info">
		<div class="jw-item-details-info-header">
			<span class="jw-item-details-info-header__title">{{item.title}}</span>
			<jw-favorite [item]="item"></jw-favorite>
		</div>
		<div class="jw-separator jw-separator--light"></div>
		<div class="jw-item-details-info-price">
			<span>&#x20AC;&nbsp;</span>
			<span class="jw-item-details-info-price__number">{{item.price | number:'1.2-2'}}</span>
		</div>
		<div class="jw-item-details-info-quantity">
			<span class="jw-item-details-info-quantity__title">{{'ITEM.SOLD' | translate}}</span>
			<span class="jw-item-details-info-quantity__number">0 / {{item.quantity}}</span>
		</div>
		<div class="jw-separator jw-separator--light"></div>
		<div class="jw-item-details-info-params">
			<div class="jw-item-details-info-params-param">
				<span class="jw-item-details-info-params-param__title">{{'ITEM.MATERIAL' | translate}}</span>
				<span>{{item.material}}</span>
			</div>
			<div class="jw-item-details-info-params-param">
				<span class="jw-item-details-info-params-param__title">{{'ITEM.WEIGHT' | translate}}</span>
				<span>{{item.weight}} g</span>
			</div>
		</div>
		<div class="jw-separator jw-separator--light"></div>
		<div class="jw-item-details-info-description">
			<span>{{item.description}}</span>
		</div>

		<jw-quantity></jw-quantity>

		<div class="jw-item-details-info-actions">
			<button class="jw-item-details-info-actions__button" mat-raised-button
				color="warn">{{'ITEM.ADD_TO_CART' | translate | uppercase}}</button>
			<button class="jw-item-details-info-actions__button" mat-raised-button
				color="accent">{{'ITEM.BUY' | translate | uppercase}}</button>
		</div>
	</div>
</div>