<div class="jw-item-simple-row" (click)="onItem()">
	<div class="jw-item-simple-row-avatar" [ngStyle]="{'background-image': imagesService.getImageUrlCss(item.avatar)}">
	</div>
	<div class="jw-item-simple-row-info">
		<div class="jw-item-simple-row-info-header">
			<span class="jw-item-simple-row-info-header__title">{{item.title}}</span>
			<jw-favorite [item]="item"></jw-favorite>
		</div>
		<div class="jw-item-simple-row-info-body">
			<div class="jw-item-simple-row-info-body-price">
				<span>&#x20AC;&nbsp;</span>
				<span class="jw-item-simple-row-info-body-price__number">{{item.price | number:'1.2-2'}}</span>
			</div>
			<div class="jw-item-simple-row-info-body-quantity">
				<span class="jw-item-simple-row-info-body-quantity__title">{{'ITEM.SOLD' | translate}}</span>
				<span class="jw-item-simple-row-info-body-quantity__number">0 / {{item.quantity}}</span>
			</div>
		</div>
	</div>
</div>