@import '../../../../assets/styles/jw-base-variables.less';

// @jw-item-simple-row-height: 130px;
@jw-item-simple-row-height: 10vw;

.jw-item-simple-row:hover {
	transform: scale(1.005);
	box-shadow: @jw-box-shadow;
	background: @jw-light;
}

.jw-item-simple-row	{
	display: flex;
	flex-direction: row;
	padding: 2 * @jw-padding-small;
	background: @jw-light-transparent-extra-little;
	border-radius: @jw-border-radius-large;
	transition: transform 0.5s;
	cursor: pointer;
	
	&-avatar {
		display: flex;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-size: cover;
		border-radius: @jw-border-radius-large;
		width:  @jw-item-simple-row-height;
		height: @jw-item-simple-row-height;
	}

	&-info {
		display: flex;
		flex-direction: column;
		margin-left: 2 * @jw-margin-small;
		flex: 1;

		&-header {
			display: flex;
			flex-direction: row;
			flex: 1;

			&__title {
				font-family: 'Montserrat-Medium';
				font-size: @jw-text-size-extra-large;
				margin-right: @jw-margin;
				flex: 1;
			}
		}

		&-body {
			display: flex;
			flex-direction: row;

			&-price {
				font-size: 2 * @jw-text-size-normal;
				flex: 1;
				
				&__number {
					font-family: 'Montserrat-Bold';
				}
			}

			&-quantity {
				display: flex;
				align-items: flex-end;
				
				&__title {
					font-size: @jw-text-size-normal;
				}
				&__number {
					font-family: 'Montserrat-Medium';
					font-size: @jw-text-size-large;
					margin-left: @jw-margin-small;
				}
			}
		}
	}
}
