<div class="jw-quantity">
	<form [formGroup]="quantityForm.form" class="jw-quantity-form">
		<div class="jw-quantity-form-container">
			<button mat-raised-button color="primary" class="jw-quantity-form-container-button" (click)="onDecrementClick()"
				[disabled]="quantity <= min">
				<i class="material-icons jw-quantity-form-container-button__icon">remove</i>
			</button>
			<mat-form-field class="jw-quantity-form-container-field">
				<input matInput class="jw-quantity-form-container-field__input" type="number" formControlName="quantity"
					name="quantity" (change)="onInputChange($event)">
			</mat-form-field>
			<button mat-raised-button color="primary" class="jw-quantity-form-container-button" (click)="onIncrementClick()"
				[disabled]="quantity >= max">
				<i class="material-icons jw-quantity-form-container-button__icon">add</i>
			</button>
		</div>
		<div class="jw-quantity-form-errors">
			<mat-error *ngIf="quantityForm.form.controls['quantity'].errors?.required">
				{{'VALIDATIONS.FIELD_REQUIRED' | translate}}</mat-error>
			<mat-error *ngIf="quantityForm.form.controls['quantity'].errors?.min">
				{{'VALIDATIONS.MIN_NUMBER' | translate:{ number: quantityForm.min} }}</mat-error>
			<mat-error *ngIf="quantityForm.form.controls['quantity'].errors?.max">
				{{'VALIDATIONS.MAX_NUMBER' | translate:{ number: quantityForm.max} }}</mat-error>
		</div>
	</form>
</div>