@import '../../../assets/styles/jw-base-variables.less';

.jw-quantity {
	display: flex;
	flex-direction: row;

	&-form {
		display: flex;
		flex-direction: column;

		&-container {
			display: flex;
			flex-direction: row;

			&-field {
				&__input {
					width: calc(@jw-input-height - 12px) !important;
					height: calc(@jw-input-height - 2px) !important;
					font-size: @jw-text-size-extra-large !important;
					margin: 0 @jw-margin-small !important;
					padding: 0 @jw-padding-small !important;
					text-align: center !important;
					border: 1px solid @jw-text-color-invert-darker !important;
					border-radius: @jw-border-radius-large !important;
				}
	
				.mat-form-field-infix {
					display: flex;
					flex-direction: row;
					width: 100% !important;
					border: 0 !important;
					padding-top: 0 !important;
					padding-bottom: 0 !important;
				}
	
				.mat-form-field-underline {
					display: none !important;
				}

				.mat-form-field-wrapper {
					padding: 0 !important;
				}
			}

			&-button {
				width: @jw-button-height;
				height: @jw-button-height;
				border-radius: @jw-border-radius-large !important;
		
				&__icon {
					color: @jw-text-color-invert;
					font-size: 2 * @jw-icon-size;
				}
			}
		}

		&-errors {
			display: flex;
			justify-content: center;
			font-family: 'Roboto-Regular';
			font-size: @jw-text-size-small;
		}
	}

	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
			-webkit-appearance: none;
			margin: 0;
	}

	input[type=number] {
			-moz-appearance: textfield;
	}
}