@import '../../../../assets/styles/jw-base-variables.less';

.jw-user-edit {
	min-width: 450px;

	&-form {
		display: flex;
		flex-direction: column;

		&-field {
			flex: 1;
			font-size: @jw-text-size-normal !important;

			.mat-form-field-wrapper {
				margin-top: 0 !important;
				margin-bottom: 0 !important;
				padding-bottom: 0 !important;
			}

			&__input {
				flex: 1;
			}
		}
	}
}