<div class="jw-dialog jw-user-edit">
	<div class="jw-dialog-header">
		<span>{{'USER.EDIT_USER' | translate}} - {{data.user.login}}</span>
	</div>
	<div class="jw-dialog-body">
		<form [formGroup]="userEdit.form" class="jw-user-edit-form">
			<mat-form-field appearance="outline" class="jw-user-edit-form-field">
				<mat-label>{{'USER.EMAIL' | translate}} *</mat-label>
				<input matInput placeholder="{{'USER.EMAIL' | translate}} *" formControlName="email" name="email">
				<mat-error *ngIf="userEdit.form.controls['email'].errors?.required">
					{{'USER.FIELD_REQUIRED' | translate}}</mat-error>
				<mat-error
					*ngIf="userEdit.form.controls['email'].errors?.email || userEdit.form.controls['email'].errors?.emailFormat">
					{{'USER.INCORRECT_FORMAT' | translate}}</mat-error>
			</mat-form-field>
			<mat-form-field *ngIf="authService.isAdminRole" class="jw-user-edit-form-field">
				<mat-label>{{'USER.ROLE' | translate}} *</mat-label>
				<mat-select formControlName="roleId" name="roleId">
					<mat-option *ngFor="let role of roles" [value]="role.id">
						{{role.name}}
					</mat-option>
				</mat-select>
				<mat-error *ngIf="userEdit.form.get('roleId').errors?.required">
					{{'VALIDATIONS.FIELD_REQUIRED' | translate}}</mat-error>
			</mat-form-field>
			<mat-checkbox *ngIf="authService.isAdminRole" class="jw-user-edit-form-is-active" formControlName="isActive">
				{{'USER.IS_ACTIVE' | translate}}
			</mat-checkbox>
		</form>
	</div>
	<div class="jw-dialog-footer">
		<button mat-raised-button color="accent" class="jw-dialog-footer__button" (click)="onSaveClick()"
			[disabled]="userEdit.form.invalid">{{'JW.SAVE' | translate}}</button>
		<button mat-raised-button color="warn" class="jw-dialog-footer__button"
			(click)="dialogRef.close(false)">{{'JW.CANCEL' | translate}}</button>
	</div>
</div>