@import '../../../assets/styles/jw-base-variables.less';

@jw-login-signin-tab-height: 260px;
@jw-login-signup-tab-height: 460px;
@jw-login-border: lighten(@jw-text-color-invert-darker, 10%);

.jw-login {
	display: flex;
	height: 100%;
	justify-content: center;
	align-items: center;
	animation: fadeIn 1s;

	&-field {
		flex: 1;
	}

	&-container {
		display: flex;
		flex-direction: column;
		background: @jw-light-transparent-extra-little;
		width: 420px;
		border-radius: @jw-border-radius-large;
		padding: 0 50px;

		&-header {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 120px;
			color: @jw-text-color-lighter;
			margin-top: @jw-margin;
			font-size: 35px;
			text-align: center;

			&__name {
				font-family: 'Montserrat-Bold';
				margin-left: @jw-margin;
			}
		}

		&-tabs {
			margin-bottom: @jw-margin;
			transition: all 500ms;
			height: @jw-login-signin-tab-height;

			&-signin {
				&-login {
					display: flex;
					align-items: center;
					border: 1px solid @jw-login-border;
					background: @jw-light;
					border-radius: @jw-border-radius-large;
				}

				&-password {
					display: flex;
					align-items: center;
					border: 1px solid @jw-login-border;
					background: @jw-light;
					border-radius: @jw-border-radius-large;
					margin-top: @jw-margin-small;
				}

				&-footer {
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					margin-top: @jw-margin;

					&__link {
						font-size: @jw-text-size-small;
						margin-top: @jw-margin-small;
						color: @jw-text-color-lighter;
						cursor: pointer;
					}
				}

				&--height {
					height: @jw-login-signin-tab-height;
				}
			}

			&-signup {
				display: flex;
				flex-direction: column;

				&-form {
					display: flex;
					flex-direction: column;
				}

				&--height {
					height: @jw-login-signup-tab-height;
				}
			}

			.mat-tab-header {
				margin-bottom: @jw-margin;
			}

			.mat-tab-label {
				display: flex;
				flex-grow: 1;
				font-size: @jw-text-size-extra-large;
			}

			.mat-tab-label {
				padding: 0 @jw-margin-small;
				min-width: 125px;
			}

			.mat-tab-body-content {
				overflow-y: hidden !important;
			}
		}

		&__icon {
			font-size: @jw-icon-extra-large;
			padding-left: @jw-margin;
			padding-right: @jw-margin;
			color: @jw-text-color-invert-darker;
		}

		&__input {
			flex-grow: 1;
			height: @jw-input-height;
			font-size: @jw-input-font-size;
			border-left: 1px solid @jw-login-border;
			padding: 0 @jw-margin;
			border-top-right-radius: @jw-border-radius-large;
			border-bottom-right-radius: @jw-border-radius-large;
		}

		&__button {
			height: @jw-button-height;
			width: 100%;
			border-radius: @jw-border-radius-large  !important;
		}
	}
}