<div class="jw-login">
	<div class="jw-login-container">
		<div class="jw-login-container-header">
			<span>{{'LOGIN.JEWELLERY' | translate}}</span>
			<span class="jw-login-container-header__name">{{'JW.NAME' | translate }}</span>
		</div>
		<mat-tab-group #tabsElement class="jw-login-container-tabs" mat-align-tabs="center"
			[(selectedIndex)]="selectedTabIndex" (selectedTabChange)="selectedTabChange($event)">
			<mat-tab class="jw-login-container-tabs-signin" label="{{'LOGIN.SIGNIN_TAB' | translate}}">
				<form *ngIf="selectedTabIndex === loginTabEnum.Signin" [formGroup]="authUser.form" (ngSubmit)="loginClick()">
					<div class="jw-login-container-tabs-signin-login">
						<i class="material-icons jw-login-container__icon">person_outline</i>
						<input class="jw-login-container__input" type="text" placeholder="{{'LOGIN.LOGIN' | translate}}"
							formControlName="login">
					</div>
					<div class="jw-login-container-tabs-signin-password">
						<i class="material-icons jw-login-container__icon">lock_outline</i>
						<input class="jw-login-container__input" type="password" placeholder="{{'LOGIN.PASSWORD' | translate}}"
							formControlName="password" autocomplete="off">
					</div>
					<div class="jw-login-container-tabs-signin-footer">
						<button mat-raised-button color="accent" class="jw-login-container__button"
							type="submit">{{'LOGIN.SIGNIN' | translate}}</button>
						<a class="jw-login-container-tabs-signin-footer__link"
							(click)="forgotPasswordClick()">{{'LOGIN.FORGOT_PASSWORD' | translate}}</a>
					</div>
				</form>
			</mat-tab>
			<mat-tab class="jw-login-container-tabs-signup" label="{{'LOGIN.REGISTRATION_TAB' | translate}}">
				<jw-user-form *ngIf="selectedTabIndex === loginTabEnum.Signup" [userForm]="userForm"
					[mode]="userFormMode.Register" (onSave)="onUserFormSave($event)"></jw-user-form>
			</mat-tab>
		</mat-tab-group>
	</div>
</div>