<div class="jw-items-categories">
	<span class="jw-items-categories__title">{{'ITEMS.CATEGORIES' | translate}}</span>
	<div class="jw-separator"></div>
	<div class="jw-items-categories-container">
		<div class="jw-items-categories-container-category" *ngFor="let category of categoriesApiService.categories.data"
			(click)="onCategory(category)" [routerLink]="['/categories/' + category.id + '/items']"
			routerLinkActive="jw-items-categories-container-category--active">
			<span class="jw-items-categories-container-category__name">{{'CATEGORIES.' + category.code | translate}}</span>
			<span>{{category.itemsCount}}</span>
		</div>
	</div>
</div>