@import '../../../../../assets/styles/jw-base-variables.less';

.jw-items-categories {
	display: flex;
	flex-direction: column;
	background: @jw-light-transparent-extra-little;
	padding: @jw-padding;
	border-radius: @jw-border-radius-large;

	&__title {
		font-family: 'Montserrat-Medium';
		font-size: @jw-text-size-extra-large;
	}

	&-container {
		&-category {
			display: flex;
			font-size: @jw-text-size-extra-large;
			padding: 2 * @jw-padding-small;
			cursor: pointer;

			&__name {
				flex: 1;
			}

			&--active {
				background: darken(@jw-light-transparent-extra-little, 10%);
			}
		}

		&-category:hover {
			background: darken(@jw-light-transparent-extra-little, 10%);
			color: @jw-text-color;
		}

		&-category:focus {
			outline: 0px solid transparent;
		}
	}
}