@import '../../../assets/styles/jw-base-variables.less';

@jw-banner-height: 200px;

.jw-banner {
	display: flex;
	flex-direction: column;
	height: @jw-banner-height;
	background: @jw-light-transparent-extra-little;
	border-radius: @jw-border-radius-large;
	padding: @jw-padding;
}