@import '../../../../assets/styles/jw-base-variables.less';

.jw-item-add {
	display: flex;
	flex-direction: column;
	animation: fadeIn 1s;

	&-form {
		background: @jw-light-transparent-extra-little;
		border-radius: @jw-border-radius-large;
		margin-top: @jw-margin-small;
		padding: 15px;
	}
}