@import '../../../assets/styles/jw-base-variables.less';

@media all and (max-width: 1100px) {
	.jw-menu-bar {
		&-category {
			font-size: @jw-text-size-large !important;
		}
	}
}

@media all and (max-width: 1000px) {
	.jw-menu-bar {
		&-category {
			font-size: @jw-text-size-normal !important;
		}
	}
}

@media all and (max-width: 900px) {
	.jw-menu-bar {
		flex-direction: column !important;
	
		&-category {
			flex-direction: column !important;
			flex: 1 !important;
			font-size: @jw-text-size-large !important;

			&-separator  { 
				border-left: none !important; 
				border-bottom: 1px solid darken(@jw-light-transparent-extra-little, 10%);
				margin: 0 @jw-margin !important;
			}
			&-container:hover { 
				margin: -1px 0 !important;
			}
		}
	}
}

.jw-menu-bar {
	display: flex;
	flex-direction: row;
	background: @jw-light-transparent-extra-little;
	border-radius: @jw-border-radius-large;

	&-category {
		display: flex;
		flex: 1;
		font-size: @jw-text-size-extra-large;
		height: @jw-button-height;
		font-family: 'Roboto-Medium';
		animation: fadeIn 1s;
		cursor: pointer;
		transition: 0.5s;

		&-container {
			display: flex;
			justify-content: center;			
			align-items: center;
			flex: 1;
			height: 100%;
		}

		&-container:focus {
			outline: 0px solid transparent;
		}

		&-container:hover {
			background: darken(@jw-light-transparent-extra-little, 10%);
			box-shadow: @jw-box-shadow;
			margin: 0 -1px;
		}

		&-separator {
			border-left: 1px solid darken(@jw-light-transparent-extra-little, 10%);
			margin: @jw-margin 0;
		}
	}

	&-category:hover {
		background: darken(@jw-light-transparent-extra-little, 10%);
	}
}
