<div class="jw-menu-bar">
	<div *ngFor="let category of categories.data; let i = index" class="jw-menu-bar-category">
		<div *ngIf="i !== 0" class="jw-menu-bar-category-separator"></div>
		<div class="jw-menu-bar-category-container" [routerLink]="['/categories/' + category.id + '/items']">
			<span>{{'CATEGORIES.' + category.code | translate | uppercase}}</span>
		</div>
	</div>
</div>