@import '../../../../assets/styles/jw-base-variables.less';

@jw-item-form-image-height: 125px;
@jw-item-form-dragzone-height: 125px;

.jw-item-form {
	&-field {
		margin: 0 2 * @jw-margin-small;
		flex: 1;
	}
	
	&-field:first-child { margin-left: 0 !important; }
	&-field:last-child { margin-right: 0 !important; }

	&-dropzone {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		height: @jw-item-form-dragzone-height;
		border-radius: @jw-border-radius-large;

		&__input {
			display: none;
		}

		&__label {
			font-family: 'Montserrat-SemiBold';
			border-radius: @jw-border-radius-large;
			padding: 2 * @jw-padding-small;
			cursor: pointer;
		}

		&__label:hover {
			background: @jw-dark-transparent-very;
		}

		&__span {
			margin-left: @jw-margin-small;
		}

		&--inactive {
			border: 3px dashed @jw-text-color-invert-darker;
		}

		&--active {
			border: 3px solid @jw-brand-success !important;
			background: @jw-dark-transparent-very;
		}
	}

	&-images {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		margin-top: @jw-margin;

		&-wraper {
			position: relative;
			margin-right: @jw-margin;
			margin-bottom: @jw-margin;
			height: @jw-item-form-image-height;

			&__img {
				height: @jw-item-form-image-height;
				border-radius: @jw-border-radius-large;
				animation: fadeIn 0.5s;
			}

			&-delete {
				display: flex;
				justify-content: center;
				align-items: center;
				position: absolute;
				background: @jw-dark-transparent-little;
				border-radius: @jw-border-radius-large;
				top: 0;
				width: 100%;
				height: 100%;
				animation: fadeIn 0.5s;

				&__icon {
					color: @jw-text-color-invert;
					font-size: 2 * @jw-icon-size;
					background: @jw-light-transparent-very;
					padding: @jw-padding;
					border-radius: 50%;
					cursor: pointer;
				}
			}
		}
	}

	&-is-active {
		margin-bottom: @jw-margin;
		margin-left: @jw-margin-small;
		font-size: @jw-text-size-extra-large;
	}

	&__button {
		width: 200px;
		height: @jw-button-height;
		font-size: @jw-button-font-size;
		margin-left: @jw-margin-small;
		margin-right: @jw-margin-small;
		border-radius: @jw-border-radius-large !important;
	}

	&__button:first-child { margin-left: 0 !important; }
	&__button:last-child { margin-right: 0 !important; }

	&-row {
		display: flex;
		flex-direction: row;
	}
	
	&-column {
		display: flex;
		flex-direction: column;
		flex: 1;
	}
}