<form [formGroup]="item.form" class="jw-item-form" (ngSubmit)="saveItem()">
	<div class="jw-item-form-column">
		<mat-form-field class="jw-item-form-field" appearance="outline">
			<mat-label>{{'ITEM.TITLE' | translate}} *</mat-label>
			<input #title matInput placeholder="{{'ITEM.TITLE' | translate}} *" formControlName="title" name="title">
			<mat-hint [ngClass]="{'jw-validation--danger': title.value?.length > item.titleMaxLength}">
				{{title.value?.length || 0}}/{{item.titleMaxLength}}</mat-hint>
			<mat-error *ngIf="item.form.get('title').errors?.required">{{'VALIDATIONS.FIELD_REQUIRED' | translate}}
			</mat-error>
		</mat-form-field>
	</div>
	<div class="jw-item-form-column">
		<div class="jw-item-form-row">
			<mat-form-field class="jw-item-form-field" appearance="outline">
				<mat-label>{{'ITEM.CATEGORY' | translate}} *</mat-label>
				<mat-select formControlName="categoryId" name="categoryId">
					<mat-option *ngFor="let category of categories" [value]="category.id">
						{{'CATEGORIES.' + category.code | translate}}
					</mat-option>
				</mat-select>
				<mat-error *ngIf="item.form.get('categoryId').errors?.required">{{'VALIDATIONS.FIELD_REQUIRED' | translate}}
				</mat-error>
			</mat-form-field>
			<mat-form-field class="jw-item-form-field" appearance="outline">
				<mat-label>{{'ITEM.MATERIAL' | translate}} *</mat-label>
				<input matInput placeholder="{{'ITEM.MATERIAL' | translate}} *" formControlName="material" name="material">
				<mat-error *ngIf="item.form.get('material').errors?.required">{{'VALIDATIONS.FIELD_REQUIRED' | translate}}
				</mat-error>
			</mat-form-field>
			<mat-form-field class="jw-item-form-field" appearance="outline">
				<mat-label>{{'ITEM.WEIGHT' | translate}} *</mat-label>
				<input matInput placeholder="{{'ITEM.WEIGHT' | translate}} *" formControlName="weight" name="weight"
					type="number">
				<span matSuffix>&nbsp;G</span>
				<mat-error *ngIf="item.form.get('title').errors?.required">{{'VALIDATIONS.FIELD_REQUIRED' | translate}}
				</mat-error>
			</mat-form-field>
		</div>
	</div>
	<div class="jw-item-form-column">
		<mat-form-field class="jw-item-form-field" appearance="outline">
			<mat-label>{{'ITEM.DESCRIPTION' | translate}} *</mat-label>
			<textarea matInput placeholder="{{'ITEM.DESCRIPTION' | translate}} *" formControlName="description"
				name="description" rows="4"></textarea>
			<mat-error *ngIf="item.form.get('description').errors?.required">{{'VALIDATIONS.FIELD_REQUIRED' | translate}}
			</mat-error>
		</mat-form-field>
	</div>
	<div class="jw-item-form-column">
		<div class="jw-item-form-dropzone" jwFileDrop (filesDropped)="onFilesDroppped($event)"
			(filesHovered)="onFilesHovered($event)"
			[ngClass]="{'jw-item-form-dropzone--active': dropzoneActive, 'jw-item-form-dropzone--inactive': !dropzoneActive}">
			<input class="jw-item-form-dropzone__input" type="file" name="file" id="file" (change)="onFilesSelected($event)"
				multiple>
			<label class="jw-item-form-dropzone__label" for="file">{{'ITEM.SELECT_IMAGES' | translate}}</label>
			<span class="jw-item-form-dropzone__span">{{'ITEM.OR_DRAG_IT_HERE' | translate}}</span>
		</div>
	</div>
	<div class="jw-item-form-column">
		<div class="jw-item-form-images">
			<div class="jw-item-form-images-wraper" *ngFor="let image of item.images; let i = index"
				(mouseenter)="imageDeleteVisible[i]=true" (mouseleave)="imageDeleteVisible[i]=false">
				<img class="jw-item-form-images-wraper__img" [src]="image.url">
				<div *ngIf="imageDeleteVisible[i]" class="jw-item-form-images-wraper-delete">
					<i (click)="deleteImage(image)" class="material-icons jw-item-form-images-wraper-delete__icon">delete</i>
				</div>
			</div>
		</div>
	</div>
	<div class="jw-item-form-column">
		<div class="jw-item-form-row">
			<mat-form-field class="jw-item-form-field" appearance="outline">
				<mat-label>{{'ITEM.QUANTITY' | translate}} *</mat-label>
				<input matInput placeholder="{{'ITEM.QUANTITY' | translate}} *" formControlName="quantity" name="quantity"
					type="number">
				<mat-error *ngIf="item.form.get('quantity').errors?.required">{{'VALIDATIONS.FIELD_REQUIRED' | translate}}
				</mat-error>
			</mat-form-field>
			<mat-form-field class="jw-item-form-field" appearance="outline">
				<mat-label>{{'ITEM.PRICE' | translate}} *</mat-label>
				<input matInput placeholder="{{'ITEM.PRICE' | translate}} *" formControlName="price" name="price" type="number">
				<span matSuffix>&nbsp;&#x20AC;</span>
				<mat-error *ngIf="item.form.get('price').errors?.required">{{'VALIDATIONS.FIELD_REQUIRED' | translate}}
				</mat-error>
			</mat-form-field>
		</div>
	</div>
	<div class="jw-item-form-row">
		<span>{{'ITEM.DELIVERY_OPTIONS' | translate}}</span>
	</div>

	<div class="jw-separator"></div>
	<div class="jw-item-form-column">
		<!-- Przeiterowac ! Po pobranych typach dostawy ! -->
		<div class="jw-item-form-row">
			<mat-checkbox class="jw-item-form-is-active" formControlName="isActive">{{'ITEM.IS_ACTIVE' | translate}}
			</mat-checkbox>
			<mat-form-field class="jw-item-form-field" appearance="outline">
				<mat-label>{{'ITEM.QUANTITY' | translate}} *</mat-label>
				<input matInput placeholder="{{'ITEM.QUANTITY' | translate}} *" formControlName="quantity" name="quantity"
					type="number">
				<mat-error *ngIf="item.form.get('quantity').errors?.required">{{'VALIDATIONS.FIELD_REQUIRED' | translate}}
				</mat-error>
			</mat-form-field>
			<mat-form-field class="jw-item-form-field" appearance="outline">
				<mat-label>{{'ITEM.PRICE' | translate}} *</mat-label>
				<input matInput placeholder="{{'ITEM.PRICE' | translate}} *" formControlName="price" name="price" type="number">
				<span matSuffix>&nbsp;&#x20AC;</span>
				<mat-error *ngIf="item.form.get('price').errors?.required">{{'VALIDATIONS.FIELD_REQUIRED' | translate}}
				</mat-error>
			</mat-form-field>
		</div>
	</div>
	<div class="jw-separator"></div>
	<div class="jw-item-form-row">
		<mat-checkbox class="jw-item-form-is-active" formControlName="isActive">{{'ITEM.IS_ACTIVE' | translate}}
		</mat-checkbox>
	</div>
	<div class="jw-item-form-column">
		<div class="jw-item-form-row">
			<button mat-raised-button color="accent" class="jw-item-form__button" type="submit"
				[disabled]="item.form.invalid">{{'JW.SAVE' | translate}}</button>
			<button mat-raised-button color="warn" class="jw-item-form__button"
				routerLink="/home">{{'JW.RETURN' | translate}}</button>
		</div>
	</div>
</form>