@import '../../../assets/styles/jw-base-variables.less';

.jw-search {
	display: flex;
	flex-direction: row;
	flex: 1;
	
	&-field {
		flex: 1;
		font-size: @jw-text-size-normal !important;

		.mat-form-field-wrapper {
			margin-top: 0 !important;
			margin-bottom: 0 !important;
			padding-bottom: 0 !important;
		}

		&__input {
			flex: 1;
		}
	}

	&-container {
		margin-left: @jw-margin-small;

		&__button {
			border-radius: @jw-border-radius-large !important;
			height: 52px;
			width: 52px;
		}

		&__icon {
			font-size: 2 * @jw-icon-size;
		}
	}
}