<div class="jw-search">
	<mat-form-field class="jw-search-field" appearance="outline">
		<mat-label>{{'SEARCH.INPUT' | translate}}</mat-label>
		<input [(ngModel)]="searchText" matInput class="jw-search-field__input" placeholder="{{'SEARCH.INPUT' | translate}}"
			name="search" (keyup.enter)="onSearchTextChanged()">
	</mat-form-field>
	<div class="jw-search-container">
		<button mat-raised-button color="primary" class="jw-search-container__button" (click)="onSearchTextChanged()"
			matTooltip="{{'SEARCH.SEARCH' | translate}}" matTooltipPosition="below">
			<i class="material-icons jw-search-container__icon">search</i>
		</button>
	</div>
</div>