@import '../../../../assets/styles/jw-base-variables.less';

.jw-user-registration {
	display: flex;
	flex-direction: column;

	&-field {
		flex: 1;
		font-size: @jw-text-size-normal !important;

		&-regulations {
			margin-bottom: 2 * @jw-margin-small;
			margin-left: 1px;

			&__link {
				text-decoration: none;
				margin-left: @jw-margin-small;
				color: @jw-brand-primary;
			}
		}
		
		.mat-form-field-wrapper {
			margin-top: 0 !important;
			margin-bottom: 0 !important;
			padding-bottom: 0 !important;
		}

		&__input {
			flex: 1;
		}
	}

	&__button {
		height: @jw-button-height;
		font-size: @jw-button-font-size;
		margin: 0 @jw-margin-small;
		border-radius: @jw-border-radius-large !important;

		&--register {
			margin: 0 !important;
		}
	}
}