<form [formGroup]="user.form" class="jw-user-registration" (ngSubmit)="onSaveClick()">
	<mat-form-field appearance="outline" class="jw-user-registration-field">
		<mat-label>{{'USER.LOGIN' | translate}} *</mat-label>
		<input matInput placeholder="{{'USER.LOGIN' | translate}} *" formControlName="login" name="login">
		<mat-error *ngIf="user.form.controls['login'].errors?.required">
			{{'USER.FIELD_REQUIRED' | translate}}</mat-error>
		<mat-error *ngIf="user.form.controls['login'].errors?.minlength">
			{{'USER.MIN_LENGTH' | translate:{length: user.loginMinLength} }}</mat-error>
	</mat-form-field>
	<mat-form-field appearance="outline" class="jw-user-registration-field">
		<mat-label>{{'USER.PASSWORD' | translate}} *</mat-label>
		<input matInput placeholder="{{'USER.PASSWORD' | translate}} *" type="password" formControlName="password"
			name="password" autocomplete="off">
		<mat-error *ngIf="user.form.controls['password'].errors?.required">
			{{'USER.FIELD_REQUIRED' | translate}}</mat-error>
		<mat-error *ngIf="user.form.controls['password'].errors?.minlength">
			{{'USER.MIN_LENGTH' | translate:{length: user.passwordMinLength} }}</mat-error>
	</mat-form-field>
	<mat-form-field appearance="outline" class="jw-user-registration-field">
		<mat-label>{{'USER.CONFIRM_PASSWORD' | translate}} *</mat-label>
		<input matInput placeholder="{{'USER.CONFIRM_PASSWORD' | translate}} *" type="password"
			formControlName="confirmPassword" name="confirmPassword" autocomplete="off">
		<mat-error *ngIf="user.form.controls['confirmPassword'].errors?.required">
			{{'USER.FIELD_REQUIRED' | translate}}</mat-error>
		<mat-error *ngIf="user.form.controls['confirmPassword'].errors?.minlength">
			{{'USER.MIN_LENGTH' | translate:{length: user.passwordMinLength} }}</mat-error>
		<mat-error *ngIf="user.form.controls['confirmPassword'].errors?.mustMatch">
			{{'USER.PASSWORDS_NOT_MATCH' | translate }}</mat-error>
	</mat-form-field>
	<mat-form-field appearance="outline" class="jw-user-registration-field">
		<mat-label>{{'USER.EMAIL' | translate}} *</mat-label>
		<input matInput placeholder="{{'USER.EMAIL' | translate}} *" formControlName="email" name="email">
		<mat-error *ngIf="user.form.controls['email'].errors?.required">
			{{'USER.FIELD_REQUIRED' | translate}}</mat-error>
		<mat-error *ngIf="user.form.controls['email'].errors?.email || user.form.controls['email'].errors?.emailFormat">
			{{'USER.INCORRECT_FORMAT' | translate}}</mat-error>
	</mat-form-field>
	<mat-checkbox class="jw-user-registration-field-regulations" *ngIf="mode === userFormMode.Register"
		[(ngModel)]="regulations" [ngModelOptions]="{standalone: true}">
		<span>{{'USER.ACCEPT_REGULATIONS' | translate}}</span>
		<a class="jw-user-registration-field-regulations__link"
			routerLink="/regulations">{{'USER.REGULATIONS' | translate}}</a>
	</mat-checkbox>
	<button *ngIf="mode === userFormMode.Register" mat-raised-button color="accent"
		class="jw-user-registration__button jw-user-registration__button--register" type="submit"
		[disabled]="user.form.invalid || !regulations">
		{{'USER.REGISTER' | translate}}
	</button>
	<button *ngIf="mode !== userFormMode.Register" mat-raised-button color="accent" class="jw-user-registration__button"
		type="submit" [disabled]="user.form.invalid">
		{{'JW.SAVE' | translate}}
	</button>
	<button *ngIf="mode !== userFormMode.Register" mat-raised-button color="warn" class="jw-user-registration__button"
		(click)="onCancelClick()">{{'JW.RETURN' | translate}}</button>
</form>