@import './jw-base-variables.less';

@track-color: rgba(255,255,255,0.2);
@thumb-color: rgba(0,118,177,0.7);

body {
	scrollbar-color: @thumb-color @track-color;
	scrollbar-width: thin;
}

::-webkit-scrollbar-track {
	background-color: @track-color;
}

::-webkit-scrollbar {
	width: 10px;
	background-color: @track-color;
}

::-webkit-scrollbar-thumb {
	background-color: @thumb-color;
}