// TEXT

@jw-text-color: #333;
@jw-text-color-lighter: #555;
@jw-text-color-darker: #111;

@jw-text-color-invert: #eee;
@jw-text-color-invert-lighter: #fff; 
@jw-text-color-invert-darker: #aaa; 

@jw-text-color-gray: #777;
@jw-text-color-gray-lighter: #888;
@jw-text-color-gray-darker: #666;

@jw-text-color-disabled: #A4A4A4;

// TEXT SIZE

@jw-text-size-extra-small: 10px;
@jw-text-size-small: 12px;
@jw-text-size-normal: 14px;
@jw-text-size-large: 16px;
@jw-text-size-extra-large: 18px;

// ICON

@jw-icon-size: 14px;
@jw-icon-large: 18px;
@jw-icon-extra-large: 20px;

// COLORS

@jw-brand-primary: #2196f3;
@jw-brand-success: #4caf50;
@jw-brand-danger: #f44336;
@jw-brand-warning: #ffeb3b;

// BACKGROUND

@jw-light: #fff;
@jw-light-transparent-very: rgba(255,255,255,0.15);
@jw-light-transparent-little: rgba(255,255,255,0.90);
@jw-light-transparent-extra-little: rgba(255,255,255,0.95);

@jw-dark: rgb(20,20,20);
@jw-dark-transparent-very:  rgba(20,20,20,0.2);
@jw-dark-transparent-little:  rgba(20,20,20,0.80);
@jw-dark-transparent-extra-little:  rgba(20,20,20,0.95);


// SPACING

@jw-margin-small: 5px;
@jw-margin: 15px;
@jw-margin-large: 30px;
@jw-padding-small: 5px;
@jw-padding: 15px;
@jw-padding-large: 30px;

// ORDER

@jw-z-index-background: -1;
@jw-z-index-dialog: 1;
@jw-z-index-gallery: 1;
@jw-z-index-loader: 2;


// RADIUS

@jw-border-radius-large: 5px;
@jw-border-radius-small: 2px;

// BUTTON

@jw-button-height: 50px;
@jw-button-font-size: @jw-text-size-large;

// INPUT

@jw-input-height: 50px;
@jw-input-font-size: @jw-text-size-large;

// TABLE 

@jw-table-row-background-even: #fff;
@jw-table-row-background-odd: #fff;
// @jw-table-row-background-odd: darken(@jw-table-row-background-even, 1%);

// SHADOW

@jw-box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.2);