@import './jw-base-variables.less';

.cdk-overlay-container {
	z-index: @jw-z-index-dialog;
}

.mat-dialog-container {
	padding: @jw-padding !important;

	.jw-dialog {
		display: flex;
		flex-direction: column;

		&-header {
			display: flex;
			align-items: center;
			font-size: @jw-icon-large;
			margin: -@jw-margin -@jw-margin 0 -@jw-margin;
			background: @jw-dark-transparent-extra-little;
			color: @jw-text-color-invert;
			padding: @jw-padding;
		}

		&-body {
			margin: @jw-margin 0;
			font-size: @jw-text-size-extra-large;
		}

		&-footer {
			display: flex;
			flex-direction: row;
			
			&__button { 
				display: flex;
				flex-grow: 1;
				justify-content: center;
				align-content: center;
				height: @jw-button-height;
				font-size: @jw-button-font-size;
				margin: 0 @jw-margin-small; 
				border-radius: @jw-border-radius-large !important;
			}
			&__button:first-child { margin-left: 0 !important; }
			&__button:last-child { margin-right: 0 !important; }
		}
	}
}
