@import './jw-base-variables.less';

.jw-table {
	&-header-cell {
		&-actions {
			justify-content: flex-end;
			padding-right: @jw-padding !important;
		}
	}

	&-cell {
		&-actions {
			justify-content: flex-end;
			color: @jw-text-color-invert !important;
			padding-right: @jw-padding !important;

			&__icon {
				font-size: @jw-icon-extra-large !important;
				padding: @jw-padding-small;
				border-radius: 50%;
				cursor: pointer;

				&--key { background:	@jw-brand-primary; }
				&--edit { background: @jw-brand-success; }
				&--delete { background:	@jw-brand-danger; }
			}

			&__icon:not(:first-child) {
				margin-left: 3px;
			}
		}
	}
}

.mat-table {
	.mat-header-row {
		min-height: 50px;
	}

	.mat-header-cell {
    font-size: 14px;
    font-weight: 600;
	}

	.mat-row {
		min-height: 35px;
	}

	.mat-row:nth-child(even) {
		background: @jw-table-row-background-even;
	}

	.mat-row:nth-child(odd) {
		background: @jw-table-row-background-odd;
	}
}

.mat-paginator {
	min-height: 50px;
}