@import './jw-base-variables.less';

.simple-notification-wrapper {
	width: 500px !important;
	margin-bottom: @jw-margin !important;
}

.simple-notification.success {
	background: @jw-brand-success  !important;

	.sn-progress-loader span {
		background: darken(@jw-brand-success, 10%) !important;
	}
}

.simple-notification.error {
	background: @jw-brand-danger  !important;

	.sn-progress-loader span {
		background: darken(@jw-brand-danger, 10%) !important;
	}
}

.simple-notification.warn {
	background: @jw-brand-warning  !important;

	.sn-progress-loader span {
		background: darken(@jw-brand-warning, 25%) !important;
	}
}

.simple-notification.info {
	background: @jw-brand-primary  !important;

	.sn-progress-loader span {
		background: darken(@jw-brand-primary, 5%) !important;
	}
}