@import './jw-base-variables.less';

textarea, input, button, submit { 
	outline: none; 
	padding: 0;
	border: 0;
}

// CONTENT MENU

.mat-menu {
	&-panel {
		border-radius: @jw-border-radius-small !important;
		box-shadow: none;
	}

	&-content {
		padding: 0 !important;
	}

	&-item {	}
}

// VALIDATIONS

.jw-validation--danger {
	color: @jw-brand-danger !important;
}

// FORM FIELD

.mat-form-field-wrapper {
	padding-bottom: @jw-padding !important;
}

.mat-form-field-appearance-outline .mat-form-field-outline-thick {
	color: @jw-text-color-gray;
}

.mat-form-field-appearance-outline .mat-form-field-suffix {
	top: 0 !important;
	color: @jw-text-color-gray;
}

// PAGINATOR

.mat-paginator {
	background: none;
}

// FLEX

.jw-flex {
	&-one {
		flex: 1;
	}

	&-row {
		display: flex;
		flex-direction: row;
	}
	
	&-column {
		display: flex;
		flex-direction: column;
		flex: 1;
	}
}

// TABS 

.mat-ink-bar {
	height: 3px !important;
}

.mat-tab-label-active {
	font-weight: bold !important;
	color: @jw-text-color-darker !important;
	outline-color: @jw-text-color-darker !important;
	opacity: 1 !important;
}