@import '~@angular/material/theming';

@include mat-core();

$jw-theme-primary: mat-palette($mat-blue);
$jw-theme-success: mat-palette($mat-green);
$jw-theme-danger: mat-palette($mat-red);
$jw-theme-warning: mat-palette($mat-yellow);

$jw-theme: mat-light-theme($jw-theme-primary, $jw-theme-success, $jw-theme-danger);

@include angular-material-theme($jw-theme);