@import './jw-base-variables.less';

.mat-raised-button {
	display: flex !important;
	justify-content: center !important;
	align-items: center !important;
	box-shadow: none !important;
	border-radius: 0 !important;
	min-width: 50px !important;
	color: @jw-text-color-invert !important;
	font-size: @jw-button-font-size;
}

.mat-raised-button.mat-primary,
.mat-raised-button.mat-accent,
.mat-raised-button.mat-warn
{
	color: @jw-text-color-invert !important;
}

.mat-raised-button[disabled][disabled] {
	background-color: rgba(0, 0, 0, 0.25);
}
