// MONTSERRAT FONT

@font-face {
	font-family: 'Montserrat-Black';
	src: url('../../assets/fonts/Montserrat/Montserrat-Black.ttf') format('truetype')
}

@font-face {
	font-family: 'Montserrat-BlackItalic';
	src: url('../../assets/fonts/Montserrat/Montserrat-BlackItalic.ttf') format('truetype')
}

@font-face {
	font-family: 'Montserrat-Bold';
	src: url('../../assets/fonts/Montserrat/Montserrat-Bold.ttf') format('truetype')
}

@font-face {
	font-family: 'Montserrat-BoldItalic';
	src: url('../../assets/fonts/Montserrat/Montserrat-BoldItalic.ttf') format('truetype')
}

@font-face {
	font-family: 'Montserrat-ExtraBold';
	src: url('../../assets/fonts/Montserrat/Montserrat-ExtraBold.ttf') format('truetype')
}

@font-face {
	font-family: 'Montserrat-ExtraBoldItalic';
	src: url('../../assets/fonts/Montserrat/Montserrat-ExtraBoldItalic.ttf') format('truetype')
}

@font-face {
	font-family: 'Montserrat-ExtraLight';
	src: url('../../assets/fonts/Montserrat/Montserrat-ExtraLight.ttf') format('truetype')
}

@font-face {
	font-family: 'Montserrat-ExtraLightItalic';
	src: url('../../assets/fonts/Montserrat/Montserrat-ExtraLightItalic.ttf') format('truetype')
}

@font-face {
	font-family: 'Montserrat-Italic';
	src: url('../../assets/fonts/Montserrat/Montserrat-Italic.ttf') format('truetype')
}

@font-face {
	font-family: 'Montserrat-Light';
	src: url('../../assets/fonts/Montserrat/Montserrat-Light.ttf') format('truetype')
}

@font-face {
	font-family: 'Montserrat-LightItalic';
	src: url('../../assets/fonts/Montserrat/Montserrat-LightItalic.ttf') format('truetype')
}

@font-face {
	font-family: 'Montserrat-Medium';
	src: url('../../assets/fonts/Montserrat/Montserrat-Medium.ttf') format('truetype')
}

@font-face {
	font-family: 'Montserrat-MediumItalic';
	src: url('../../assets/fonts/Montserrat/Montserrat-MediumItalic.ttf') format('truetype')
}

@font-face {
	font-family: 'Montserrat-Regular';
	src: url('../../assets/fonts/Montserrat/Montserrat-Regular.ttf') format('truetype')
}

@font-face {
	font-family: 'Montserrat-SemiBold';
	src: url('../../assets/fonts/Montserrat/Montserrat-SemiBold.ttf') format('truetype')
}

@font-face {
	font-family: 'Montserrat-SemiBoldItalic';
	src: url('../../assets/fonts/Montserrat/Montserrat-SemiBoldItalic.ttf') format('truetype')
}

@font-face {
	font-family: 'Montserrat-Thin';
	src: url('../../assets/fonts/Montserrat/Montserrat-Thin.ttf') format('truetype')
}

@font-face {
	font-family: 'Montserrat-ThinItalic';
	src: url('../../assets/fonts/Montserrat/Montserrat-ThinItalic.ttf') format('truetype')
}

// ROBOTO

@font-face {
	font-family: 'Roboto-Black';
	src: url('../../assets/fonts/Roboto/Roboto-Black.ttf') format('truetype')
}

@font-face {
	font-family: 'Roboto-BlackItalic';
	src: url('../../assets/fonts/Roboto/Roboto-BlackItalic.ttf') format('truetype')
}

@font-face {
	font-family: 'Roboto-Bold';
	src: url('../../assets/fonts/Roboto/Roboto-Bold.ttf') format('truetype')
}

@font-face {
	font-family: 'Roboto-BoldItalic';
	src: url('../../assets/fonts/Roboto/Roboto-BoldItalic.ttf') format('truetype')
}

@font-face {
	font-family: 'Roboto-Italic';
	src: url('../../assets/fonts/Roboto/Roboto-Italic.ttf') format('truetype')
}

@font-face {
	font-family: 'Roboto-Light';
	src: url('../../assets/fonts/Roboto/Roboto-Light.ttf') format('truetype')
}

@font-face {
	font-family: 'Roboto-LightItalic';
	src: url('../../assets/fonts/Roboto/Roboto-LightItalic.ttf') format('truetype')
}

@font-face {
	font-family: 'Roboto-Medium';
	src: url('../../assets/fonts/Roboto/Roboto-Medium.ttf') format('truetype')
}

@font-face {
	font-family: 'Roboto-MediumItalic';
	src: url('../../assets/fonts/Roboto/Roboto-MediumItalic.ttf') format('truetype')
}

@font-face {
	font-family: 'Roboto-Regular';
	src: url('../../assets/fonts/Roboto/Roboto-Regular.ttf') format('truetype')
}

@font-face {
	font-family: 'Roboto-Thin';
	src: url('../../assets/fonts/Roboto/Roboto-Thin.ttf') format('truetype')
}

@font-face {
	font-family: 'Roboto-ThinItalic';
	src: url('../../assets/fonts/Roboto/Roboto-ThinItalic.ttf') format('truetype')
}
