@import './jw-base-variables.less';

.jw-separator {
	height: 1px;
	background: @jw-text-color-invert-darker;
	margin: 2 * @jw-margin-small 0;
	width: 100%;

	&--dark {
		background: @jw-text-color-lighter !important;
	}

	&--light {
		background: lighten(@jw-text-color-invert-darker, 20%);
	}

	&--normal {
		margin: 2 * @jw-margin-small 0;
	}

	&--small {
		margin: @jw-margin-small 0;
	}

	&--none {
		margin: 0;
	}

	&--small-bottom {
		margin-bottom: @jw-margin-small;
		margin-top: 0;
	}
}