@import '../../../assets/styles/jw-base-variables.less';

.jw-favorites {
	display: flex;
	flex-direction: column;
	padding: @jw-padding;
	background: @jw-light-transparent-extra-little;
	border-radius: @jw-border-radius-large;

	&-header {}
	&-table {}
}