<div class="jw-favorites">
	<div class="jw-favorites-header">
		<span>{{'FAVORITES.TITLE' | translate}}</span>
	</div>
	<div class="jw-separator"></div>
	<jw-items-table class="jw-favorites-table" [itemsData]="itemsData" [displayedColumns]="displayedColumns"
		(itemsDataUpdate)="itemsDataUpdate($event)" [isDeleteFromFavoritesAction]="true"></jw-items-table>
</div>