<div class="jw-sort">
	<mat-form-field class="jw-sort-field" appearance="outline">
		<mat-label>{{'SORT.SORTING' | translate}}</mat-label>
		<mat-select name="value" [(value)]="selected" (selectionChange)="onSortChanged()">
			<mat-option *ngFor="let sortOption of sortOptions" [value]="sortOption">
				{{'SORT.' + sortOption.code | translate}}
			</mat-option>
		</mat-select>
	</mat-form-field>
</div>