@import '../../../assets/styles/jw-base-variables.less';

.jw-sort {
	&-field {
		flex: 1;
		font-size: @jw-text-size-normal !important;

		.mat-form-field-wrapper {
			margin-top: 0 !important;
			margin-bottom: 0 !important;
			padding-bottom: 0 !important;
		}
	}
}