<div class="jw-items-table">
	<div class="jw-items-table-header">
		<jw-search (searchTextChanged)="onSearchTextChanged($event)" class="jw-items-table-header-search"></jw-search>
	</div>
	<mat-table [dataSource]="itemsTableDataSource" matSort matSortDisableClear (matSortChange)="onSortChange($event)"
		class="jw-items-table-container">
		<ng-container matColumnDef="avatar">
			<mat-header-cell *matHeaderCellDef mat-sort-header class="jw-items-table-container-header-cell-avatar">
			</mat-header-cell>
			<mat-cell *matCellDef="let item" class="jw-items-table-container-cell-avatar">
				<div class="jw-items-table-container-avatar"
					[ngStyle]="{'background-image': imagesService.getImageUrlCss(item.avatar)}">
				</div>
			</mat-cell>
		</ng-container>
		<ng-container matColumnDef="title">
			<mat-header-cell *matHeaderCellDef mat-sort-header class="jw-items-table-container-header-cell-title">
				{{'ITEM.TITLE' | translate}}</mat-header-cell>
			<mat-cell *matCellDef="let item" class="jw-items-table-container-cell-title">{{item.title}}</mat-cell>
		</ng-container>
		<ng-container matColumnDef="material">
			<mat-header-cell *matHeaderCellDef mat-sort-header>{{'ITEM.MATERIAL' | translate}}</mat-header-cell>
			<mat-cell *matCellDef="let item">{{item.material}}</mat-cell>
		</ng-container>
		<ng-container matColumnDef="weight">
			<mat-header-cell *matHeaderCellDef mat-sort-header>{{'ITEM.WEIGHT' | translate}}</mat-header-cell>
			<mat-cell *matCellDef="let item">{{item.weight}}</mat-cell>
		</ng-container>
		<ng-container matColumnDef="quantity">
			<mat-header-cell *matHeaderCellDef mat-sort-header>{{'ITEM.QUANTITY' | translate}}</mat-header-cell>
			<mat-cell *matCellDef="let item">{{item.quantity}}</mat-cell>
		</ng-container>
		<ng-container matColumnDef="price">
			<mat-header-cell *matHeaderCellDef mat-sort-header>{{'ITEM.PRICE' | translate}}</mat-header-cell>
			<mat-cell *matCellDef="let item">
				<span>&#x20AC;&nbsp;</span>
				<span>{{item.price | number:'1.2-2'}}</span>
			</mat-cell>
		</ng-container>
		<ng-container matColumnDef="creationDate">
			<mat-header-cell *matHeaderCellDef mat-sort-header>{{'JW.CREATION_DATE' | translate}}</mat-header-cell>
			<mat-cell *matCellDef="let item">{{item.creationDate | date:'yyyy-MM-dd HH:mm:ss'}}</mat-cell>
		</ng-container>
		<ng-container matColumnDef="modificationDate">
			<mat-header-cell *matHeaderCellDef mat-sort-header>{{'JW.MODIFICATION_DATE' | translate}}</mat-header-cell>
			<mat-cell *matCellDef="let item">{{item.modificationDate | date:'yyyy-MM-dd HH:mm:ss'}}</mat-cell>
		</ng-container>
		<ng-container matColumnDef="isActive">
			<mat-header-cell *matHeaderCellDef mat-sort-header class="jw-items-table-container-header-cell-is-active">
				{{'ITEM.ACTIVE' | translate}}</mat-header-cell>
			<mat-cell *matCellDef="let item" class="jw-items-table-container-cell-is-active">
				{{item.isActive ? ('JW.YES' | translate) : ('JW.NO' | translate)}}</mat-cell>
		</ng-container>
		<ng-container matColumnDef="actions">
			<mat-header-cell *matHeaderCellDef class="jw-table-header-cell-actions">
				{{'JW.ACTIONS' | translate}}</mat-header-cell>
			<mat-cell *matCellDef="let item" class="jw-table-cell-actions">
				<i *ngIf="isEditAction" class="material-icons jw-table-cell-actions__icon jw-table-cell-actions__icon--edit"
					matTooltip="{{'JW.EDIT' | translate}}" (click)="onEdit($event, item)">edit</i>
				<i *ngIf="isDeleteAction" class="material-icons jw-table-cell-actions__icon jw-table-cell-actions__icon--delete"
					matTooltip="{{'JW.DELETE' | translate}}" (click)="onDelete($event, item)">delete</i>
				<i *ngIf="isDeleteFromFavoritesAction"
					class="material-icons jw-table-cell-actions__icon jw-table-cell-actions__icon--delete"
					matTooltip="{{'ITEM.DELETE_FROM_FAVORITES' | translate}}"
					(click)="onDeleteFromFavorites($event, item)">delete</i>
			</mat-cell>
		</ng-container>
		<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
		<mat-row *matRowDef="let item; columns:displayedColumns;" (click)="onItemClick(item)"></mat-row>
	</mat-table>
	<mat-paginator (page)="onPaginatorChange($event)" class="jw-items-table-container-paginator"
		[pageIndex]="paginatorConfig.pageIndex" [pageSize]="paginatorConfig.pageSize" [length]="paginatorConfig.length"
		[pageSizeOptions]="paginatorConfig.pageSizeOptions" showFirstLastButtons></mat-paginator>
</div>