@import '../../../../../assets/styles/jw-base-variables.less';

@jw-items-table-avatar-scale: 2.5;

.jw-items-table {
	display: flex;
	flex-direction: column;
	border-radius: @jw-border-radius-large;

	&-header {
		display: flex;
		flex-direction: row;
		margin-bottom: 2 * @jw-margin-small;
		
		&-search {
			flex: 1;
		}	
	}
	
	&-container {
		&-avatar:hover {
			transform: scale(@jw-items-table-avatar-scale);
			transform-origin: left center;
			position: absolute;
			box-shadow: 0 0 calc(3/@jw-items-table-avatar-scale * 1px) calc(2/@jw-items-table-avatar-scale * 1px) rgba(0, 0, 0, 0.2);
		}
	
		&-avatar {
			display: flex;
			background-position: 50% 50%;
			background-repeat: no-repeat;
			background-size: cover;
			border-radius: @jw-border-radius-large;
			width: 70px;
			height: 70px;
			transition: transform 0.5s;
		}
	
		&-header-cell {
			&-avatar {
				flex: 0 0 80px;
				padding-left: 0;
			}
			&-title {	flex: 3; }
			&-is-active {	flex: 0.5; }
		}
	
		&-cell {
			&-avatar {
				flex: 0 0 80px;
				margin: @jw-margin-small;
				padding-left: 0;
			}
			&-title {	flex: 3; }
			&-is-active {	flex: 0.5; }
		}
	
		.mat-row {
			height: 80px;
			cursor: pointer;
		}
		.mat-row:hover {
			background: darken(@jw-light-transparent-extra-little, 5%);
		}
	}
}