<div class="jw-item-simple-col" (click)="onItem()">
	<div jwHeightByWidth class="jw-item-simple-col-avatar"
		[ngStyle]="{'background-image': imagesService.getImageUrlCss(item.avatar)}">
		<jw-favorite [item]="item"></jw-favorite>
	</div>
	<div class="jw-item-simple-col-title">
		<span>{{item.title}}</span>
	</div>
	<div class="jw-item-simple-col-price">
		<span>&#x20AC;&nbsp;</span>
		<span class="jw-item-simple-col-price__number">{{item.price | number:'1.2-2'}}</span>
	</div>
</div>