@import '../../../../assets/styles/jw-base-variables.less';

.jw-item-simple-col:hover {
	transform: scale(1.01);
	box-shadow: @jw-box-shadow;
	background: @jw-light;
}

.jw-item-simple-col {
	display: flex;
	flex-direction: column;
	flex: 1;
	background: @jw-light-transparent-extra-little;
	border-radius: @jw-border-radius-large;
	padding: 2 * @jw-padding-small;
	transition: transform 0.5s;
	animation: fadeIn 1s;
	cursor: pointer;

	&-avatar {
		display: flex;
		justify-content: flex-end;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-size: cover;
		border-radius: @jw-border-radius-large;
	}

	&-title {
		display: flex;
		justify-content: center;		
		text-align: center;
		margin: 2 * @jw-margin-small 0;
		height: 75px;
	}

	&-price {
		font-size: 2 * @jw-text-size-small;
		display: flex;
		flex: 1;
		justify-content: center;
		align-items: flex-end;
		
		&__number {
			font-family: 'Montserrat-Bold';
		}
	}
}